<mat-card class="recommended-profile-container">
    <mat-card-content>
        <div class="back-drop-one"></div>

        <div class="back-drop-two"></div>

        <mat-card
            [@cardAnimator]="animationState"
            (@cardAnimator.done)="resetAnimationState()"
            (swipeleft)='startAnimation("swipeleft")'
            (swiperight)='startAnimation("swiperight")'
            class="card"
        >
            <mat-card-header class="header">
                <img src="{{profiles[index].img}}" />
            </mat-card-header>

            <mat-card-content class="content">
                <h2>{{ profiles[index].name }}</h2>

                <p>
                    <span>{{ profiles[index].age + ', ' }}</span>
                    <span>{{ profiles[index].height + ', ' }}</span>
                    <span>{{ profiles[index].motherTongue + ', ' }}</span>
                    <span>{{ profiles[index].community + ', ' }}</span>
                    <!-- <br /> -->
                    <span>{{ profiles[index].education + ', ' }}</span>
                    <span>{{ profiles[index].profession + ', ' }}</span>
                    <span>{{ profiles[index].city + ', ' }}</span>
                    <!-- <br /> -->
                    <span>{{ profiles[index].state + ', ' }}</span>
                    <span>{{ profiles[index].country }}</span>
                </p>

                <mat-divider></mat-divider>
            </mat-card-content>

            <mat-card-actions class="actions">
                <mat-icon
                    class="cursor-pointer"
                    (click)="showSnackBar('Shortlisted');onSubmit('swiperight', false)"
                >star_outline</mat-icon>

                <div class="action-btn-group">
                    <p>Like her?</p>

                    <button
                        mat-raised-button
                        class="btn btn-small"
                        (click)="onSubmit('swipeleft')"
                    >

                        <mat-icon class="icon">close</mat-icon>
                    </button>

                    <div style="margin-left: 10px;"></div>

                    <button
                        mat-raised-button
                        color="primary"
                        class="btn btn-large"
                        (click)="onSubmit('swiperight')"
                    >

                        <mat-icon class="icon">done</mat-icon>
                    </button>
                </div>
            </mat-card-actions>
        </mat-card>
    </mat-card-content>
</mat-card>