.recommended-profile-container {
  width: 400px;
  height: 500px;
  overflow: hidden;
  // margin: 0 auto;
  // position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(34, 193, 195);
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 5%,
    rgba(137, 253, 45, 1) 100%
  );

  .card {
    width: 280px;
    border-radius: 15px;

    .header {
      padding: 0px;

      img {
        width: 280px;
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
      }
    }

    .content {
      h2 {
        margin-bottom: 0px;
      }

      p {
        line-height: 18px;
      }
    }

    .actions {
      justify-content: space-between;
      align-items: center;

      .action-btn-group {
        display: flex;
        align-items: center;
      }

      p {
        margin-bottom: 0px;
        padding-right: 5px;
        font-weight: bold;
        font-size: 12px;
      }

      .btn {
        border-radius: 30px;
      }

      .btn-small {
        min-width: 40px !important;
        padding: 0px 8px;
      }

      .btn-large {
        min-width: 50px !important;
        padding: 0px 12px;
      }

      .icon {
        height: 1.5rem;
        width: 1.5rem;
        font-size: 1.5rem;
        margin-right: 2px;
        margin-left: 2px;
      }
    }
  }

  .back-drop {
    width: 270px;
    height: 50px;
    background-color: red;
    z-index: -1;
    margin-top: 10px;
    position: relative;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .dashboard-container {
    flex-direction: column;

    .swiper-section {
      width: 335px;
      margin-top: 50px;
      margin-left: 0px;
    }
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .dashboard-container {
    flex-direction: column;

    .swiper-section {
      width: 550px;
      margin-top: 50px;
      margin-left: 0px;
    }
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .dashboard-container {
    flex-direction: column;

    .swiper-section {
      width: 700px;
      margin-top: 50px;
      margin-left: 0px;
    }
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .dashboard-container {
    flex-direction: row;

    .swiper-section {
      width: 560px;
      margin-top: 0px;
      margin-left: 100px;
    }
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .dashboard-container {
    flex-direction: row;

    .swiper-section {
      width: 760px;
      margin-top: 0px;
      margin-left: 100px;
    }
  }
}
