.recommended-profile-container {
  width: 400px;
  height: 500px;
  overflow: hidden;
  // margin: 0 auto;
  // position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  // border: 1px solid gray;

  // background: rgb(34, 193, 195);
  // background: linear-gradient(
  //   0deg,
  //   rgba(34, 193, 195, 1) 10%,
  //   rgba(137, 253, 45, 1) 85%
  // );

  background: rgb(34, 193, 195);
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 5%,
    rgba(137, 253, 45, 1) 100%
  );

  .card {
    width: 250px;
    border-radius: 15px;

    .header {
      padding: 0px;

      img {
        width: 250px;
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
      }
    }

    .content {
      h2 {
        margin-bottom: 0px;
      }

      p {
        // font-size: 14px;
        line-height: 18px;

        // span {
        //   margin: 0px;
        // }
      }
    }

    .actions {
      justify-content: end;

      .btn {
        border-radius: 30px;
      }

      .icon {
        height: 1.5rem;
        width: 1.5rem;
        font-size: 1.5rem;
        margin-right: 2px;
        margin-left: 2px;
      }
    }
  }
}
