.recommended-profile-container {
  width: 400px;
  height: 500px;
  overflow: hidden;
  // margin: 0 auto;
  // position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(34, 193, 195);
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 5%,
    rgba(137, 253, 45, 1) 100%
  );

  .card {
    width: 280px;
    border-radius: 15px;

    .header {
      padding: 0px;

      img {
        width: 280px;
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
      }
    }

    .content {
      h2 {
        margin-bottom: 0px;
      }

      p {
        line-height: 18px;
      }
    }

    .actions {
      justify-content: space-between;
      align-items: center;

      .action-btn-group {
        display: flex;
        align-items: center;
      }

      p {
        margin-bottom: 0px;
        padding-right: 5px;
        font-weight: bold;
        font-size: 12px;
      }

      .btn {
        border-radius: 30px;
      }

      .btn-small {
        min-width: 40px !important;
        padding: 0px 8px;
      }

      .btn-large {
        min-width: 50px !important;
        padding: 0px 12px;
      }

      .icon {
        height: 1.5rem;
        width: 1.5rem;
        font-size: 1.5rem;
        margin-right: 2px;
        margin-left: 2px;
      }
    }
  }
}
