.profile-detail-container {
  display: flex;
  flex-direction: row;

  .img-section {
    .img {
      width: 250px;
    }
  }

  .description-section {
    margin-left: 20px;
    width: 458px;

    .actions-section {
      display: flex;
      // justify-content: end;
      justify-content: flex-end;
      align-items: center;

      .action {
        display: flex;
        // align-items: end;
        align-items: flex-end;
        margin-right: 10px;
        cursor: pointer;
      }

      .icon {
        font-size: 22px;
        margin-right: 10px;
      }
    }

    .profile-name {
      font-size: 20px;
      margin-bottom: 5px;
    }

    .desc-text-small {
      font-size: 14px;
      color: gray;
    }

    .desc-text {
      font-size: 16px;
    }

    .desc-text-small,
    .desc-text {
      font-weight: 400;
    }
  }
}

@media only screen and (max-width: 600px) {
  .profile-detail-container {
    display: flex;
    flex-direction: column;

    .img-section {
      .img {
        width: 100%;
      }
    }

    .description-section {
      width: auto;

      .actions-section {
        display: none;
      }
    }
  }
}
