<mat-toolbar color="primary">
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span>Demo App</span>

  <span class="spacer"></span>

  <button
    mat-icon-button
    [matMenuTriggerFor]="menu"
    aria-label="Example icon-button with a menu"
  >
    <mat-icon>account_circle</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <mat-icon>person</mat-icon>
      <span>Profile</span>
    </button>

    <button mat-menu-item>
      <mat-icon>logout</mat-icon>
      <span>Log out</span>
    </button>
  </mat-menu>
</mat-toolbar>

<div style="margin-top: 30px;"></div>

<div class="dashboard-container">
  <app-user-profile-card [loggedInUser]="loggedInUser"></app-user-profile-card>

  <!-- <div style="margin-right: 100px;"></div> -->

  <div class="swiper-section">
    <router-outlet></router-outlet>
  </div>
</div>

<!-- <router-outlet></router-outlet> -->

<div style="margin-top: 30px;"></div>

<div class="recommended-container">

  <div class="left"></div>

  <div>
    <h2>Recommended</h2>

    <app-recommended-profiles [profiles]="recommendedProfiles"></app-recommended-profiles>
  </div>
</div>

<div style="margin-top:50px"></div>