.swiper-profile-card {
  width: 215px;
  border-radius: 15px;
}

.swiper-profile-card-header {
  padding: 0px;
}

.swiper-profile-card-header-img {
  width: 215px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

.swiper-profile-card-content {
  h2 {
    margin-bottom: 0px;
  }
}
